<% content_for :top do %>
Архитектура
<% end %>

<div>
<h4>Архитектура биллинговой системы NoDeny</h4>
<br>
<img src="/images/s1.gif"><br>
<br><br>
Кластер NoDeny - центр всех вычислений и информации, управляет сателлитами и получает от них данные.
В качестве сателлита выступает сервер (или комплекс) обслуживающий определенную группу клиентов
либо ресурсов.<br>

<br>
Сателлит может выполнять одну или все следующие функции:<br> 
<br>
- авторизацию клиентов;<br>
- управление доступом клиента к ресурсам (локальным, интернет, к ресурсам других клиентов);<br>
- сбор статистики потребления ресурсов.<br>
<br>
Для примера приведем вариант построения сети:<br>
<br>
<img src="/images/s2.gif"><br>
<br>
<br>

На схеме видим 2 сателлита:  обслуживающего клиентов района 1 и клиентов района 2. Между
сателлитами и шлюзом в интернет установлены сервера с контентом. Благодаря такой схеме получаем
контролируемый доступ клиентов и в интернет и к локальным ресурсам сети. Более того, если
серментировать сеть vlan-ами, то появляется дополнительная возможность управлять трафиком
и между абонентами сети, т.е. разрешать/блокировать, шейпить и считать этот трафик.<br>
<br>
В расширенном виде, схема NoDeny выглядит таким образом:<br>
<br>
<img src="/images/p24.gif"><br>
<br>
Здесь видим, что основной координирующий узел всей системы - это база данных. Взаимодействие
узлов системы в большинстве случаев идет не напрямую, а через БД. Поэтому БД - это наиболее
требовательная часть и по надежности и по производительности. Подробнее об этом читайте в разделе
проектирования системы.<br>
<br>
Вы могли заметить, что NoDeny предусматривает распределение своих компонент по нескольким серверам
для увеличения производительности и надежности. <em>В простейшем же случае все компоненты
устанавливаются на один сервер:</em><br>
<br>
<img src="/images/s3.gif"><br>
<br>

<br>
Вынос компонеты в отдельный сервер диктуется как географическими размерами сети так и размерами абонентской базы.
Логичнее производить управление доступом и авторизацию географически как можно ближе к клиенту, т.е.
в каждом районе организовать свой сателлит обслуживания.<br>
<br>
Для примера, в сети с несколькими тысячами абонентов, расположенных в одном районе можно взять за основу следующее
разделение:<br>
<br>
Сервер 1: веб-администрирование, клиентская статистика, агент авторизации, агент доступа.<br>
Сервер 2: основная база данных, база авторизации.<br>
Сервер 3: дополнительная база.<br>
Сервер 4: шлюз, ядро NoDeny, коллектор, резервный агент авторизации.<br>
<br>
Либо же объединить Сервер 2 и Сервер 3 в один.<br>

<br>
<br>
<b>База данных разделена на три составляющие:</b><br>
<br>
1) основная база данных хранит ключевую информацию: список абонентов, платежи, архивы, таблицы топологии, оборудования и др;<br>
<br>
2) дополнительная база содержит расширенную статистику трафика, возможно с детализацией до ip, порта и протокола;<br>
<br>
3) база авторизации содержит таблицу-очередь авторизаций.<br>


<b>Назначение модулей</b><br>
<br>
Центром системы является база данных, все остальные модули взаимодействуют
между собой через нее. За основу принята СУБД Mysql.<br>
<br>
Агенты авторизации предназначены для идентификации клиентов, для гарантии,
что в сети с текущими параметрами (например ip-адрес) присутствует легальный абонент.
Клиенты авторизации <em>периодически</em> записывают в очередь авторизаций
информацию о том, кто и как авторизовался.<br>
<br>
L2-авторизация - это один из методов авторизации, разработанный конкретно под систему
NoDeny. Предусматривает авторизацию с помощью специальной программы-авторизатора.
Преимуществом этой авторизации является: минимальные требования к служебному трафику,
поддержка ненадежных каналов (с большим процентом потерь, радиолинки и т.д),
надежное шифрование, удобное отображение данных для клиента.<br>
<br>
Ядро NoDeny периодически опрашивает коллекторы, снимающие показания о потреблении
услуг клиентом (например, трафике), обновляет данные клиента в базе данных,
на основании полученных данных из очереди авторизации и других условий (например, баланса клиента)
разрешает/запрещает клиенту интернет/доступ к услугам и т.д.<br>

<br>
Веб-статистика клиентов предназнаена для получения более расширенной информации о состоянии счета
клиента, его трафике, истории и т.д. В данный момент веб-авторизация интегрирована в веб-статистику.<br>
<br>
Веб-администрирование предназначено для администраторов различных уровней и позволяет управлять
данными клиентов и системой в целом.<br>
<br><br>
<br>
<br>
<br>

</div>


