<% content_for :top do %>
Список изменений
<%end%>

<h2>Список изменений</h2> 
 
<h3 style="padding:2px">=== Ver 50.32.3 (49.32.3) === </h3> 
<ul> 
<li style="padding:2px">добавлена пропорциональная днем текущего месяца ежедневная абонплата в обработку поведения тарифов
</li> 
</ul>
 
<h3 style="padding:2px">=== Ver 50.32.1 (49.32.1) === </h3> 
<ul> 
<li style="padding:2px">исправлен баг 2010 года в выпадающем меню.
</li> 
</ul>
 
<h3 style="padding:2px">=== Ver 50.32 (49.32) === </h3> 
<ul> 
<li style="padding:2px">исправлен баг, когда при создании алиасной записи клиента, снималась сумма за основное
  подключение, в случае, когда в тарифе было указано предустановленное подключение.
</li> 
 
<li style="padding:2px">при создании учетной записи, если админу доступна всего одна группа, то меню выбора
  группы пропускается и клиент создается в группе, к которой имеет доступ админ.
</li> 
 
<li style="padding:2px">в настройках тарифов предустановленные подключения выбираются из выпадающего списка.
  Ранее необходимо было вводить их номер. Также выводятся пресеты, которые можно указывать
  в тарифе.
</li> 
 
<li style="padding:2px"> улучшен плагин квитанций - может отображать дополнительные данные (из таблицы
  дополнительных данных).
</li> 
 
<li style="padding:2px">в списке клиентов при поиске по улице отображаются варианты домов на улице.
</li> 
 
<li style="padding:2px">оптимизированны sql-запросы к дополнительным данным. В больших сетях будет заметен
  результат.</li> 
 
<li style="padding:2px">исправленно несколько мелких багов.
</li> 
 
<li style="padding:2px">исправлено несколько грамматических ошибок. Если найдете еще - пишите.</li> 
 
<li style="padding:2px">изменены несколько sql запросов для повышения производительности NoDeny</li> 
 </ul>
 <h3 style="padding:2px">=== Ver 50.31 (49.31) ===</h3>
 <ul>
 
<li style="padding:2px">модуль посуточной абонплаты: разные абонплаты для разных пакетов. Использование данной
  возможности требует дополнительной оплаты авторам NoDeny!
</li> 
 
<li style="padding:2px">улучшение скрипта бекапа баз - корректно работает из crontab и /etc/periodic
</li> 
 
<li style="padding:2px"> 
исправлен баг отображения лишней строки в клиентской статистике. Также в заголовке
  страницы теперь клиентам не показывается версия NoDeny
</li> 
 </ul>
 <h3 style="padding:2px">=== Ver 50.30 (49.30) ===</h3>
  <ul>

 
<li style="padding:2px">исправлен баг в ядре, который не мог проявится ранее, но мог дать знать о себе при
  последующих модификациях ядра
</li> 
 </ul>
<h3 style="padding:2px">=== Ver 50.29 (49.29) ===
 
</h3> 
<ul>
<li style="padding:2px">Исправлен баг, когда возникала ошибка при вставке апострофа в некоторые параметры
  настроек nodeny (меню админки: операции -> настройки).
 
</li> 
 
<li style="padding:2px">Создание модуля icq.
 
</li> 
 
<li style="padding:2px">В выводе списка клиентов добавлены кнопки отображения времени последней авторизации
  для каждого клиента, сортировки по финальному балансу и по трафику.
</li> 
 
<li style="padding:2px"> 
В клиентской статистике клиенту не показывается список сетей, по которым идет
  проверка попадания адреса. Показывается только админу.
</li> 
 </ul>
<h3 style="padding:2px">=== Ver 50.28 (49.28) ===</h3> 
<ul>
<li style="padding:2px">Легкое изменение дизайна.</li> 
 
<li style="padding:2px">Возможность указать титульные поля дополнительных данных, которые будут выведены
  в списке клиентов.
</li> 
 
<li style="padding:2px">Поиск по контракту работает.
</li> 
 </ul
<h3 style="padding:2px">=== Ver 50.27 (49.27) ===
</h3> 
<ul>
<li style="padding:2px">В разделе вывода списка клиентов появились кнопки отображения
  трафика в заданных единицах измерения: мегабайт, целых мегабайт,
  килобайт, целых килобайт, байт.</li> 
 
<li style="padding:2px">Исправлен баг, когда нельзя было осуществить поиск по любой улице.</li> 
 
<li style="padding:2px">В выводе списка клиентов добавлена кнопка сортировки по начальному балансу.
</li> 
 
<li style="padding:2px"> Поиск по фрагменту ip, например `0.250` найдет все ip = `xx.xx.0.250`</li> 
 </ul>
<h3 style="padding:2px">=== Ver 50.26 (49.26) ===</h3> 
<ul>
<li style="padding:2px"> 
Поддержка pid-файла скриптом формирования конфигов nomake.pl.</li> 
 
<li style="padding:2px">Усовершенствование модуля динамического управления скоростью: зависимость скорости от времени суток; ориентирование не только на месячный трафик, но и на стуточный. Внимание, использование фичи вне тестовых/ознакомительных целях требует лицензирования.
</li> 
 
<li style="padding:2px">Начато создание языковых файлов для клиентской статистики.</li> 
 
<li style="padding:2px">Доработан поиск в разделе оборудования.</li> 
 </ul>

<h3 style="padding:2px">=== Ver 50.25 (49.25) ===</h3> 
<ul>
<li style="padding:2px">В агентах сателлитов реализована поддержка pid-файлов, благодаря чему
появилась возможность посылать сигналы перезагрузки или завершения работы
скриптов.
 
</li> 
 
<li style="padding:2px">Рестарт noserver.pl: kill -HUP `cat /var/run/noserver.pid`
 
</li> 
 
<li style="padding:2px">Завершение работы noserver.pl: kill -TERM `cat /var/run/noserver.pid`
 
</li> 
 
<li style="padding:2px">Пока pid-файлы поддерживается только noserver.pl (noserver.pid) и
nol2auth.pl (nol2auth.pid).
 
</li> 
 
<li style="padding:2px">Посылать сигналы не является необходимостью - разработаны rc.d скрипты,
которые поддерживают команды start/stop/restart. Эти скрипты находятся
в папке /usr/local/nodeny/rc.d. Скопируйте их в системную rc.d: cp /usr/local/nodeny/rc.d/* /usr/local/etc/rc.d/
 
</li> 
 
<li style="padding:2px">Предусмотрена защита от параллельного запуска, а также зомби pid-файлов -
когда pid-файл существует, а процесс - нет (это возможно если послать
сигнал -INT. Посылайте -TERM чтоб этого не происходило).
</li> 
 
<li style="padding:2px">Улучшение инсталятора install.pl. Теперь во всех последующих апдейтах
после вопроса о пути к папке nodeny (/usr/local/nodeny), остальные пути
будут браться из истории предыдущих установок/апгрейдов: создается
файл history.nod, в котором сохраняются ключевые данные. Фича полезная,
когда www каталог находится по иному пути чем стандартно для apache в
freebsd, либо параметры соединения с mysql отличаются от дефолтовых.
</li> 
 
<li style="padding:2px">Слегка улучшен скрипт бекапа БД: теперь может запускаться из /etc/periodic/weekly, не бекапится талица traf_info т.к. не ключевая, но имеет значительный объем, при инсталляции/апгрейде копируется в /usr/local/nodeny. Не забудьте поменять пароль в нем.</li> 
 
<li style="padding:2px">noserver.pl, динамическое управление скоростями: теперь сохраняется соотношение вход/исход скоростей для пониженных скоростей так же как оно (соотношение) было для начальных скоростей, прописанных в тарифе.</li> 
 
<li style="padding:2px">В тарифах появилось поле `описание для клиентов`.
</li> 
 
<li style="padding:2px">Динамическое управление скоростями доступно для редактирования на странице
тарифов.
</li> 
 
<li style="padding:2px">Изменена структура папок документации: в корень вынесены index.html и
FAQ.html чтоб новичкам было легче найти "куда тыкать" в начало документации.
</li> 
 
<li style="padding:2px">Неключевые данные адресов клиентов перенесены в дополнительные поля, что
позволяет гибко настраивать их перечень (ввести новые, удалять ненужные,
например, добавить поля `город`, `подъезд`), тип (строковое, числовое,
да/нет и т.д), их названия. Возможность просмотреть/откатиться к любой
ревизии, т.е. к данным сущестовавшим в определенный момент времени.</li> 
 
<li style="padding:2px">Таблица со списком клиентов настраиваема: в настройках админа появилась
возможность настроить несколько видов отображения списка клиентов, в каждом
свой список полей. В процессе отображения возможно переключаться между
видами. Также возможно убирать/восстанавливать колонки в процессе работы
со списком клиентов.
</li> 
 
<li style="padding:2px">* При отображении списка клиентов добавлены различные сортировки.
 
</li> 
 
</ul> 
