-content_for :top do
  Демо версия    

%div
  %table{:width=>"581", :border=>"0", :align=>"left", :cellpadding=>"0", :cellspacing=>"0", :id=>"priceListTable"}
    %tr
      %td{:colspan=>"1", :class=>"subHeading", :id=>"list48", :title=>"Версия 48"}
        Версия 49/50
      %td{:class=>"subHeading", :align=>"center"}
        Логин/Пароль
    %tr
      %td{:class=>"rowBlue"}
        %h4
          %a{:href=>"http://demo.nodeny.com.ua/cgi-bin/adm/adm.pl", :target=>"_blank"}
            Доступ к административной части
      %td{:align=>"right", :class=>"rowBlue"}
        %span{:style=>"font-size:16px;"} superadmin/super
    %tr
      %td{:class=>"rowWhite", :colspan=>"2"}
        %span 
          Каждые сутки база возвращаеться в исходное положение.
          %br
          Если вам необходимо обновить базу в течении дня, обращайтесь к менеджеру
    %tr
      %td{:class=>"rowBlue"}
        %h4
          %a{:href=>"http://demo.nodeny.com.ua/cgi-bin/stat.pl", :target=>"_blank"}Доступ к пользовательской части
      %td{:align=>"right", :class=>"rowBlue"}
        %span{:style=>"font-size:16px;"} demo/demo
    %tr
      %td{:class=>"rowWhite", :colspan=>"2"}
        %span
