<% content_for :top do %>
Описание системы 
<% end %>

<br/>       
        <p><a href="/arhitectura" class="greenButton" title="Полное описание">Архитектура программы</a><a href="/gallery" class="greenButton" title="Просмотреть скриншоты">Посмотреть галерею</a>                        </p>
    <br/>      
<br/>
 <h4>Детальное описание возможностей системы NoDeny</h4>
<br/><br/>
<ul style="padding:20px;">
<li> <b>Авторизация абонентов.</b></li>
<p>
Поскольку использование биллинга предусматривает денежные расчеты, возникает необходимость защитить себя и своих абонентов от попыток воспользоваться услугами «за чужой счет».
</p><p>
Необходимо отметить, что на данный момент не все сети спроектированы таким образом, чтобы на аппаратном уровне во всех ее узлах иметь возможность контролировать/запрещать изменение клиентов своих сетевых данных (например, ip-адреса). В таких условиях необходимо разрешать прохождение трафика через узловые точки только после авторизации клиента.
</p><p>
Однократной авторизации не достаточно т.к. после авторизации абонента и его «выхода из сети» не должна существовать возможность продолжить «чужаку» этим воспользоваться и потреблять интернет/ресурсы сети от чужого имени. Также необходимо иметь защиту от перехвата сеансов авторизации сниферами, что возможно в сетях построенных как на хабах так и на свичах (arp-спуффинг). Исходя из этих условий была реализована так называемая L2-авторизация: специально разработанная автором программа-авторизатор, которая обеспечивает шифрованную авторизацию, а также в наглядном виде отображает процесс авторизации и предоставляет кое-какую статистику.
</p><p>
Возможно использование в качестве авторизации иных методов, например VPN, PPPoE, авторизацию через браузер.
</p>
<p> Имеется возможность блокировать доступ для конкретного клиента автоматически по таким критериям</p>
<ul>
<li> превышение лимита трафика;
<li> превышение лимита задолженности;
<li> по времени суток - на любой пакет можно наложить ограничение, при котором доступ будет разрешаться только в определенный период времени.
</ul>
<p>При постоянном подключении к интернет (имеются ввиду домашние сети) более актуально оценивать услуги именно объемом потребленной клиентом информации. Такая задача является основной для данного биллинга - упор сделан на многообразие оценок и тарификации трафика.
</p>
<p>Как известно, не всегда трафик равноценен для разных адресов в интернете, к примеру, провайдер может иметь свои сервера, доступ к которым дешевле и быстрее, или ресурсы других провайдеров города (страны) доступнее/дешевле/быстрее чем к западным. Для таких случаев есть смысл разделять трафик по категориям и оценивать по разным тарифам.</p>

<p>На данный момент имеется возможность делить трафик на 4 оплачиваемых категории (направления) на один тарифный план. В разных тарифных планах могут использоваться отличные категории, со своим списком адресов (портов).</p>

<p>Возможно «устроить слежку» за конкретным клиентом либо группой клиентов - в базу данных будут записаны трафик и все ip адреса (с портами и протоколами) с которыми обменивался клиент.</p>

<p>Возможно включение режима посуточной абонплаты по таким критериям: снимать абонплату только в дни когда разрешен доступ/если авторизовался/если есть трафик.</p>

<li> <b>Счет клиента</b></li>

<p>Все начисления/снятия/штрафы/премии денежных средств фиксируются в базе данных. Каждый платеж можно прокомментировать, например: «снято со счета 25гр за установку сетевой карты», «бонус 50гр за приведенного клиента» и т.д. Все платежи/снятия прозрачны и все спорные вопросы можно решить за любой период времени т.к. видны даты и авторы всех поступлений и расходов. Клиенту возможно доходчиво объяснить «при подключении вы заплатили ХХХгрн, в декабре за YYY мегабайт пакета «стартовый» было снято ZZZгрн, затем вы пополнили счет на ААА грн и т.д.»</p>

<p>Платежи могут приниматься несколькими администраторами, при этом ведется учет наличности у кого сколько «на руках». Есть функция передачи наличных от админа к админу или руководству.</p>

<p>Временные платежи позволяют временно разрешить абоненту доступ в интернет/ресурсам сети. Например, клиент имеет отрицательный баланс в 200 рублей, звонит и сообщает, что имеет возможность заплатить только через неделю. В таком случае удобно не убирать границу отключения (или ее понижать) - так можно просто забыть вернуть в исходное состояние, а осуществить временный платеж в 200 рублей сроком 7 дней. Через 7 дней платеж гарантированно удалится автоматически и клиент будет заблокирован если не сдержал свое обещание.</p>

<li><b>Тарификация</b></li>

<p>Для оценки возможностей тарификации, приведем несколько выдуманных ситуаций которые может решить NoDeny:</p>

<p>1й пример: клиент оплачивает пакет «Демо» - ему разрешается получить из интернета не более 50Мб, при достижении этой отметки пользователю блокируется доступ в интернет.</p>

<p>2й пример: клиент оплачивает пакет «Стартовый» в котором предоплачено 1000 Мб интернет-трафика, 5000 Мб городского трафика и 2000 Мб российского трафика. Стоимость пакета 10$. При превышении любой составляющей трафика, снимается дополнительная сумма за каждый мегабайт, у каждого направления своя сумма превышения. При этом клиенту разрешается работать в долг на 5$.</p>

<p>3й пример: клиенту необходимо разрешить доступ к определенному списку ip-адресов бесплатно, учитывая каждый мегабайт, при этом снимать по 1$ за каждый мегабайт вне этих адресов.</p>

<p>4й пример: клиенту предоставляется доступ в интернет и дополнительно оплачивается почтовый трафик по более дешевому тарифу.</p>

<p>5й пример: клиенту предоставляется анлимитный доступ в интернет за XX руб на симметричной скорости YY кбит.</p>

<p>6й пример: клиенту предоставляется анлимитный доступ к ресурсам UA-IX, пакетный доступ к мировым ресурсам и бесплатный доступ к игровым ресурсам провайдера при условии активации услуги 'games' стоимостью ZZ руб/месяц.</p>

<p>7й пример: Клиенту предоставляется доступ в интернет на скорости XX кбит на вход и YY кбит на исход, при этом каждые сутки снимается абонплата если он скачал хотя бы 1 байт в эти сутки.

<p>Такие задачи (как и многие другие) вполне под силу NoDeny.</p>

<p>Благодаря тому, что непосредственное снятие денег со счета за потребленные услуги происходит в конце месяца, становится возможным беспроблемное переключение пользователя на другие пакеты в середине месяца либо изменение тарификации - в любом случае пересчет наличных произойдет «по новым правилам» корректно.</p>

<li><b>Администрирование.</b></li>
<p>
Для оценки удобства администрирования взгляните на эти <a href="/gallery">скриншоты</a> (в текущей версии добавлено несколько новых возможностей, которые не попали в скриншоты т.к. автор постоянно держит «руку на пульсе» и добавляет новые «фичи» и улучшает интерфейс).
</p>

