-content_for :top do
  Главная страница    

%div{:style=>"margin-left:100px; padding:10px;"}
  %div{:style=>"border: 3px dashed green; width:550px;padding:5px; margin:5px;"}
    %h4{:style=>"color:red"} 
      Текущие версии
    %div{:style=>"padding:5px;"}
      %p
        %b Версия 50: 
        %a{:href=>"/sale"}
          50.32
        %a{:href=>"/changelog"}
          (changelog)
      %p
        %b Версия 49: 
        %a{:href=>"/policy"}
          49.32 
        %a{:href=>"/changelog"}
          (changelog)
	
%h4 Почему NoDeny, чем он лучше?
%div{:style=>"padding:20px;"}
  %p Главное преимущество NoDeny - это то, что он «вышел из народа» - система всегда (с 2002 года) разрабатывалась и тестировалось в реальной сети, в ней нет места теории, любое нововведение тут же тестировалось «в бою». Фактически, после написания любого фрагмента кода, он сразу же обкатывался в сети автора, что иногда было причиной бессонных ночей, однако гарантировало надежность кода. Понятие «альфа-версия» и NoDeny несовместимы, в любом виде NoDeny как минимум бетта.

  %p За 6 лет разработок система испытала на себе все изменения и развитие требований сети автора и других сетей, к мнению администраторов которых, автор постоянно прислушивается.

  %p В данный момент автор внедрил NoDeny как центральный биллинг всего города, что само по себе является нетривиальной задачей, поскольку составные сети работают по своим стандартам, тарифам, управляются своим руководством и администраторами. Работа биллинга в больших географических масштабах с большим количеством абонентов, глубокая система привилегий и разделения отделов - основные преимущества Nodeny.

  %p NoDeny довольно оптимизированная система, за все время разработки приоритет отдавался в пользу оптимизации чем в выделении вычислительных ресурсов. Благодаря этому, NoDeny сэкономит вам на «железе», которое понадобилось бы для других биллингов.

  %p NoDeny - больше чем биллинг, это система управления сетями - смотрите детальное описание возможностей.
  
%h4 Краткое описание биллинговой системы Nodeny
%br
%br
%p Система NoDeny предназначена для управления компьютерными сетями различных масштабов и требований, в часности:
%ul
  %li Организации работы множества сетей как единого механизма, учитывающего большую географическую распределенность, обширный персонал, раздельные привилегии доступов к отделам, группам клиентам, тарифам, классам трафика, работникам. Позволяет, с одной стороны, сосуществовать независимым сетям изолированно друг от друга, со своими требованиями и подходами, финансовыми потоками, с другой стороны, на верхнем уровне иметь единое управление и контроль;
  %liВозможность линейно масштабировать систему при подключении новых районов, сервисов, увеличении абонентской базы и нагрузки. Модульность в виде разделения на составляющие: ядро, базы данных, сервера авторизации, сервера доступа и т.д. Поддержка разного типа оборудования от софтовых роутеров до Microtik и Cisco.
  %li Обеспечение авторизации абонентов для доступа к ресурсам сети и интернет различными способами: с использованием программы-авторизатора ,VPN, PPPoE, Web и др;
  %li Блокировка доступа к ресурсам сети/интернет администраторами либо автоматическая на основе различных критериев (лимиты на трафик, кредит, по времени суток);
  %li Ведение личных счетов абонентов с сохранением в базе данных всех производимых действий (начисление денег на счет, снятия за услуги, штрафы, и т.д.).
  %li Учет трафика абонента с сохранением в базе данных, разбивка трафика на виды и направления, детализация трафика;
  %li Гибкая система тарификации: учет типов трафика (сети/ip/порты), тарифицируемой составляющей (вход/выход/сумма/большее), по времени суток (например, ночные тарифы), услуги вне оплаты трафика и т.д.;
  %li Гибкое управление доступом: поддержка анлимитных тарифов, персональные ограничения скорости по разным направлениям (интернет, трафик между абонентами), доступ к определенным ресурсам;
  %li Система имеет удобный веб-интерфейс администратора, который позволяет в наглядном виде получать, группировать и анализировать информацию, осуществлять настройку, менять данные абонентов и просматривать статистику как в текущий момент времени так и за предыдущие дни/месяцы с разным уровнем детализации. Большое количество удобных фильтров таких как "в ремонте", "на подключении", "авторизованные", "до отключения хх рублей", "с балансом ниже нуля", "подсеть хх", "дата заключения договора", группировки по адресам и точкам подключения, и множество других позволяют быстро находить нужных клиентов и держать под контролем ситуацию в сети;
  %li Система привелегий позволяет практически каждую операцию в NoDeny запретить либо разрешить определенному администратору. Все действия администраторов фиксируются в базе данных (дата, администратор, что изменил);
  %li Для пользователя через браузер подробно предоставляется информация о текущем состоянии его счёта, суммах снятий (с наглядной расшифровкой), сеансах работы, истории потребления трафика в разные периоды времени с разной детализацией вплоть до ip, портов и протоколов. Возможность автоматически заказать пакет на следующий месяц, поменять пароль на почтовый ящик, проверить класс трафика по ip либо по доменному имени, послать сообщение администрации, пополнить счет через карточку пополнения либо эквайринг какого-либо банка;
  %li Временные платежи позволяют временно разрешить доступ в интернет клиенту (временное пополнение баланса до положительного уровня, через заданное время автоматическое удаление платежа и уменьшение баланса);
  %li Управление почтовыми ящиками (создание,удаление, отсылка писем) через веб-интерфейс;
  %li Карточки оплаты;
  %li Реальные ip-адреса;
  %li Несколько подключений (ip) с общим финансовым счетом;
  %li Модуль топологии позволяет иметь полную информацию о точках подключения (местоположение, коды подъездов, характеристики питания, наличия грозозащит, количество свободных портов, типы и количество коммутаторов), что оптимизирует работу как руководящего состава так и монтажников, позволяет контролировать местонахожение каждого коммутатора (на складе либо в конкретной точке подключения), также избежать беспорядка в подключениях;
  %li Система выдачи свободного ip адреса на основе географического расположения клиента, т.е учитывает топологию сети;
  %li Модуль формирования графических карт, позволяет в наглядном виде, буквально одним взлядом, в онлайне оценить состояние сети - отображаются авторизованные точки, магистрали, подсети и т.д;

%br       
%p
%a{:href=>"/detail", :class=>"greenButton", :title=>"Полное описание"}Подробнее
%a{:href=>"/gallery", :class=>"greenButton", :title=>"Просмотреть скриншоты"}Посмотреть галерею
%br      

