<% content_for :top do %>
Лицензионное соглашение
<%end%>


<div>
	Авторское право (с) 2002-2009, Станислав Борисович Волик<br/>
	Исключение совпадений гарантируется контактами:<br/>
	email: <img src="/images/910.png" />
<br/>ICQ: 120790571
<br/>&nbsp;
<ol>
	<h2>Лицензия на использование программного комплекса "NoDeny 49"</h2>
<li> Предметом лицензионного соглашения является разработанная автором система NoDeny, которая состоит из скриптов и документации.</li>


<li>Программный комплекс "NoDeny 49" является условно-бесплатным продуктом, распространяемым по принципу "попробуй перед тем, как купить". </li>
<li>
Волик С.Б.(далее по тексту автор) сохраняет за собой полное авторское право на программный комплекс "NoDeny 49" (далее по тексту программа). </li>
<li>
ПРОГРАММА РАСПРОСТРАНЯЕТСЯ ПО ПРИНЦИПУ "КАК ЕСТЬ". ПРИ ЭТОМ НЕ ПРЕДУСМАТРИВАЕТСЯ НИКАКИХ ГАРАНТИЙ, ЯВНЫХ ИЛИ ПОДРАЗУМЕВАЕМЫХ.</li> 
<li>
Принятие и согласие с условиями, заявленными в этом документе,предоставит вам неограниченную по времени бесплатную лицензию на использование программы на 300 (три сотни) зарегистрированных абонентских учетных записей в базе данных программы.</li>
<li>
Поставка программы осуществляется в исходных текстах. Автор сохраняет за собой исключительное право изменять любую часть исходного кода программы. Эти изменения могут включать удаление классов, свойств и методов или создание новых классов, свойств и методов без оповещения пользователей программы. </li>
<li>
Никакие физические или юридические лица не имеют права взимать оплату за распространение программы или ее частей без письменного разрешения автора. </li>
</ol>
<h3>ИСПОЛЬЗОВАНИЕ ПРОГРАММЫ ДАЕТ ВАМ ПРАВО:</h3>
<ol><li>
Установить и использовать  программу в локальных вычислительных сетях, в которых зарегистрировано не больше, чем 300 (три сотни) абонентских учетных записей  в базе данных программы. Вам необходимо в течении 30 (тридцати) дней с момента достижения  указанного ограничения купить коммерческую лицензию или прекратить использовать программу в любом виде.</li>
<li>
Разрабатывать и продавать любые прикладные модули, добавляющие функциональность программе (расширения, конвертеры, модули для взаимодействия программы с другими программами), без отчислений автору. Автор не несет ответственности за работу и содержание данных модулей, непосредственно или косвенно. Техническая поддержка модуля осуществляется автором модуля.</li>
<li>
Модифицировать программу. Пользователь принимает на себя полную ответственность за поддержку любого исходного кода или программы, полученного в результате любой модификации. Пользователь не может требовать ответственности автора, непосредственно или косвенно, при изменениях в исходном коде, включая изменения, которые пользователь сделал по рекомендации автора или работников службы технической поддержки.</li>
</ol>
<h4 style="color:red">ЛЮБОЕ ИЗ ДЕЙСТВИЙ, ВНЕСЕННЫХ В СПИСОК НИЖЕ, ПРЕКРАТИТ ПРАВО ПОЛЬЗОВАНИЯ  ПРОГРАММОЙ, К ЗАВЕРШЕНИЮ ПРАВА ПОЛЬЗОВАНИЯ  ПРОГРАММОЙ, АВТОР МОЖЕТ ПРИВЛЕЧЬ НАРУШИТЕЛЯ К УГОЛОВНОЙ, ГРАЖДАНСКОЙ, И ЛЮБОЙ ДРУГОЙ ОТВЕТСТВЕННОСТИ.</h4>
<ol><li>
Распространение любых файлов программы, в другом виде, чем изначальные.</li>
<li>
Удаление указаний на авторские права из любой части исходного кода и документации программы.</li>
<li>
Использование программы в сетях больше, чем 300 (три сотни) абонентских учетных записей в базе данных программы без покупки коммерческой лицензии. </li>
</ol>
<h3>ТЕХНИЧЕСКАЯ ПОДДЕРЖКА ДЛЯ ПРОГРАММЫ:</h3>
<p style="font-size:14px;">
<b>Автор не предоставляет техническую поддержку для данной версии.</b></p>
<h3>
ОГРАНИЧЕНИЯ ОТВЕТСТВЕННОСТИ:</h3>
<ol><li>
Автор не может нести другой ответственности, кроме заявленной в данном соглашении и не будет компенсировать ущерб, включая потерянную прибыль или доходы, потерю данных, потери времени в технологическом процессе, восстановления или замены, требования третьих лиц, или другой косвенный непредвиденный или последующий ущерб, вызванный правильным или неправильным использованием программы, даже если был уведомлен о возможности такого ущерба.</li>

<li>Все права, явно не предоставленные здесь, принадлежат автору.</li>

</ol>
<script>
	function acceptss(){
		if ($('#accepter').attr('checked')) {return true;}
		else {$('#errorcheck').show('slow'); return false;}
	}
</script>
<div id=errorcheck style="text-align:center; color: red; font-size:14px">Внимание! Надо согласится с условиями лицензии</div>
<div align="center">
<form method="GET" action="/get49" onsubmit="return acceptss();">
	<span style="color:green"><b>Я принимаю условия лицензии</b> <input type="checkbox" id="accepter" name="accepter" value="1"></span><br>
	<input type="submit" value="скачать 49 версию">
</form>
</div>
</div>
<script>
	$(document).ready(function() {
	$('#errorcheck').hide();
	});
</script>



