<% content_for :top do %>
Покупка
<%end%>
<style>
  li.ssmenu{
    float:left;
    padding:5px;
    list-style-type: none;
    text-decoration: underline;
    cursor:pointer;
  }
  li.ssmenu a{color:black}

</style>
<h2 align="center">Покупка NoDeny</h2>
<ul>
  <li class="ssmenu"><h3><a href="#req">Реквизиты для оплаты</a></h3></li>
  <li class="ssmenu"><h3><a href="#ofpred">Офицальные представители</a></h3></li>  
  <!-- 
      li class="ssmenu"><h3><%= link_to 'Выписать счет', new_invoice_path % 
    -->
  </h3></li>
</ul><br/>
<fieldset style="padding:10px;float:left;">      
<div style="background-color: #FFF; margin:20px; border:1px #CCC dotted; padding:5px;">
  <h4 id='req'>Реквизиты для оплаты</h4>
	<br/><p><b>Webmoney:</b><br>Z576099891659, R410683824470 </p>
		<p><b>В гривне:</b> <br/>Рахунок № 29248825507001 ЗАТ КБ "Приватбанк", МФО 305299, ОКПО: 14360570,<br/>
Призначення платежу: Поповнення карткового рахунку № 4405885013618803, Настенко Валентин Владимирович</p>
<p><b>В USD:</b><br/>
<div>
Банк кореспондент/Intermediary Bank: Standard Chartered Bank New York Branch,<br/>
New York USA, account № 00741793, SWIFT:AEIB US 33, Clearing code: ABA: 026002561<br/>

Банк получатель/Beneficiary's Bnak: OTP bank,<br/>
12, Tsentralna str., Dnepropetrovsk,49000, SWIFT: OTPVUAUK<br/>

Получатель/ Beneficiary: Valentin Nastenko<br/>
Cчет/Account:№ 26207201867030<br/>
Назначение платежа/Details of Payment:<br/>
Money transfer to card VISA
</div>
</div>  
</fieldset> 
<fieldset style="padding:10px;float:left;"> 
	<div style="background-color: #FFF; margin:20px; border:1px #CCC dotted; padding:5px;">
		<h4 align="center" id="ofpred">Офицальные представители</h4>
		<ol>
			<li>Настенко Валентин Владимирович, т +380979102264 <br/>
			icq: 44306843, skype: versus.ua, email: versus.ua@gmail.com<br/></li><br/>
			<li>Гайдак Николай Викторович, т +380978225919, +38(044)223-22-67 <br/>
			icq: 341979578, email:<img src="http://www.mailonpix.ru/images/95eb622b8885b728e9f3897b1ceeb803.gif" border="0" ><br/></li>
			<li>Юрий Колодовский, тел.: +380445924814, <br/>
			icq: 204026123, email:<img src="/images/lexx.gif" border="0"/><br/></li>
			<li>Nikola Diviziev,phone: 0886 366102,  skype: nikola_diviziev <br/>
			email:nikola_diviziev@mail.bg, Bulgaria<br/></li>
			<li>Пирожок Максим Игоревич, "Подольские Интелектуальные Системы", +380673830415<br>
			email:<img src="http://www.mailonpix.ru/images/27f1c09208d8bc26a860d2497b7a345b.gif" border="0" alt="mailonpix.ru">, skype: crazynetwork
			</li>
			<li>Власик Сергей Владимирович, "СЕТИ-КОМ", г.Киев, ул.Здолбуновская 7Д,<br> +38(044) 492-00-29, e-mail: <img src="http://www.mailonpix.ru/images/32baf3cc94352b07f506eb5478500e9c.gif" border="0">, ICQ 459449616</li>

			<!--li>Максим aka Spite, т. +380673296569, email spr1teq@gmail.com <br/> icq 3343616, skype spr1te, msn spr1teq@gmail.com</li -->
		</ol>

                </div>
  </fieldset> 


