<% content_for :top do %>
Покупка
<%end%>


<fieldset style="padding:10px;">
	<span class="formSubhead"><strong>1.</strong>Купить 50 версию</span>
	<h2 align="center">Шаг первый </h2>
	<p>Связатся с менеджером для определения стоимости NoDeny  для вашей сети.</p>
	<div style="background-color: #FFF; margin:20px; border:1px #CCC dotted; padding:5px;">
		<h4 align="center">Офицальные представители</h4>
		<ol>
			<li>Настенко Валентин Владимирович, т +380979102264 <br/>
			icq: 44306843, skype: versus.ua, email: versus.ua@gmail.com<br/></li><br/>
			<li>Гайдак Николай Викторович, т +380978225919, +38(044)223-22-67 <br/>
			icq: 341979578, email:<img src="http://www.mailonpix.ru/images/95eb622b8885b728e9f3897b1ceeb803.gif" border="0" ><br/></li>
			<li>Юрий Колодовский, тел.: +380445924814, <br/>
			icq: 204026123, email:<img src="/images/lexx.gif" border="0"/><br/></li>
			<li>Nikola Diviziev,phone: 0886 366102,  skype: nikola_diviziev <br/>
			email:nikola_diviziev@mail.bg, Bulgaria<br/></li>
			<li>Пирожок Максим Игоревич, "Подольские Интелектуальные Системы", +380673830415<br>
			email:<img src="http://www.mailonpix.ru/images/27f1c09208d8bc26a860d2497b7a345b.gif" border="0" alt="mailonpix.ru">, skype: crazynetwork
			</li>
			<li>Власик Сергей Владимирович, "СЕТИ-КОМ", г.Киев, ул.Здолбуновская 7Д,<br> +38(044) 492-00-29, e-mail: <img src="http://www.mailonpix.ru/images/32baf3cc94352b07f506eb5478500e9c.gif" border="0">, ICQ 459449616</li>

			<!--li>Максим aka Spite, т. +380673296569, email spr1teq@gmail.com <br/> icq 3343616, skype spr1te, msn spr1teq@gmail.com</li -->
		</ol>

	</div>
	<p>Обговорить возможности программы, выяснить интересующие вопросы, применительно к вашей сети. Узнать рекомендации по установке и настройке. Прочитать <a target="_blank" href="http://www.nodeny.com.ua/policy"       >лицензионное соглашение</a> и согласится с ним. Выбрать форму оплаты.</p>
	<h2 align="center">Шаг второй </h2>
	<p>Оплатить стоимость биллинговой системы, сообщить об оплате менеджеру, удобным для вас способом. </p>
<div style="background-color: #FFF; margin:20px; border:1px #CCC dotted; padding:5px;">
	<h4>Реквизиты для оплаты</h4>
	<br/><p><b>Webmoney:</b><br>Z576099891659, R410683824470 </p>
		<p><b>В гривне:</b> <br/>Рахунок № 29248825507001 ЗАТ КБ "Приватбанк", МФО 305299, ОКПО: 14360570,<br/>
Призначення платежу: Поповнення карткового рахунку № 4405885013618803, Настенко Валентин Владимирович</p>
<p><b>В USD:</b><br/>
<div style="display:none">
Банк кореспондент/Intermediary Bank: American Express Bank LTD,<br/>
New York USA, account № 742106, SWIFT BIC:AEIB US 33<br/>
или<br/>
Bank of New York, New York USA, account № 890 0341 629, SWIFT BIC: IRVT US 3N<br/>

Банк получатель/Beneficiary's Bnak: NADRA bank,<br/>
Dnepropetrovsk branch, UA, SWIFT BIC: NADRAUAUX<br/>

Получатель/ Beneficiary: Valentin Nastenko<br/>
Cчет/Account:№ 29247800007502<br/>
Назначение платежа/Details of Payment:<br/>
Money transfer to acc. # 79191873, card VISA
</div>
<div>
Банк кореспондент/Intermediary Bank: Standard Chartered Bank New York Branch,<br/>
New York USA, account № 00741793, SWIFT:AEIB US 33, Clearing code: ABA: 026002561<br/>

Банк получатель/Beneficiary's Bnak: OTP bank,<br/>
12, Tsentralna str., Dnepropetrovsk,49000, SWIFT: OTPVUAUK<br/>

Получатель/ Beneficiary: Valentin Nastenko<br/>
Cчет/Account:№ 26207201867030<br/>
Назначение платежа/Details of Payment:<br/>
Money transfer to card VISA
</div>
<div style="display:none">
<b>Получатель/BENEFICIARY:</b> Volik Stanislav Borisovich<br>
<b>счет/ACCOUNT:</b> 4149605050233790<br>
<b>Банк получатель/BANK OF BENEFICIARY:</b><br> 
	PRIVATBANK<br>
	DNEPROPETROVSK, UKRAINE<br>
	SWIFT CODE: PBANUA2X<br>

	<b>Банк корреспондент/INTERMEDIARY:</b><br> 
	JP MORGAN CHASE BANK<br>
	4 CHASE METROTECH CENTER, 7-TH FLOOR, BROOKLYN NY 11245 USA<br>
	SWIFT CODE: CHASUS33<br>
	<b>Счет банка получателя/CORRESPONDENT ACCOUNT:</b> 0011000080<br>
	</p>
</div>
</div>
	<h2 align="center">Шаг третий </h2>
	<p> Получив дистрибутив, не спешите устанавливать его на рабочем компьютере вашей сети, сначало ознакомьтесь с документацией. Множество вопросов рассмотрено именно на страницах документации проекта, с примерами и объяснительными картинками. Подпишитесь на <a  href="http://groups.google.com/group/nodeny" title="Вопросы" target="_blank">список рассылки</a> обновлений и обсуждений. Прочитайте последние рекомендации по обновлению дистрибутива. Просмотрите предыдущие сообщения, в поисках ответа на ваши вопросы. Если вопросы спицифические или ответа на них вы не нашли обратитесь к менеджеру. Следуйте рекомендациям менеджеров.</p>
</fieldset>
<fieldset style="padding:10px;">
      <span class="formSubhead"><strong>2.</strong> Загрузка версии  49 программы</span>
    <dl>
        <dt></dt>
        <dt><label for="Name">*Сервер:&nbsp;</label></dt>
        <dd>
		<a href="/policy">Архив nodeny49</a>

        <dt><label for="Name">*Авторизатор:&nbsp;</label></dt>
        <dd>
            <a href="http://nodeny.googlecode.com/files/AAA_L2.rar">AAA_L2.rar</a>

</fieldset>
</form>
