<% content_for :top do %>
Цены
<%end%>
<div id="contentWrapper">
        <p id="top" style="font-size:14px">
            Перейти к: <a href="#list50" class="returnLink">Версия 50</a>  | <a href="#listInstall" class="returnLink">Установка</a>
			| <a href="#listModul" class="returnLink">Модули и плагины</a> | <a href="#credit"  class="returnLink">
				<span style="color:red; font-size:14px"><b>Продажа в рассрочку</b></span>
				</a>| <a href="#listSupport" class="returnLink">Поддержка</a> </p>
		</div>

		<p align="center"  style="color:green; font-size:14px"><b>Гарантия возврата денег за Nodeny 50!</b></p>
		<p align="center"  style="color:green; font-size:12px; margin-left:40px; margin-right:30px;"><b>Мы гарантируем качество предоставляемого программного продукта, однако если по обоснованной причине в течении 30 дней с момента покупки, Вы решите отказаться от его использования, мы вернем Вам деньги.</b></p>
              <!-- img src="/images/guarantee.gif" style="margin-left:600px"-->


    <table width="581" border="0" align="left" cellpadding="0" cellspacing="0" id="priceListTable">

        <tr>
            <td width="480" class="tableHeading" title="Версия 50">
                Система/Услуга
            </td>
            <td width="101" align="center" class="tableHeading" title="Цена">
                Цена
            </td>

        </tr>
        <tr>
            <td colspan="3" class="subHeading" id="list50" title="Версия 50">
                Версия 50
            </td>
        </tr>

        <tr>
            <td class="rowWhite">
                Базовая версия на 500 абонентов
            </td>
            <td align="right" class="rowWhite">
                450$
            </td>

        </tr>
        <tr>
            <td class="rowBlue">
                Лицензия на последующие 500 абонентов
            </td>
            <td align="right" class="rowBlue">
                100$
            </td>

        </tr>
 <tr><td colspan="3" class="rowWhite">&nbsp;</td></tr>
      <tr>
            <td colspan="3" class="subHeading" id="listInstall" title="Установка">
                Установка
            </td>
        </tr>

        <tr>
            <td class="rowWhite">
                Установка с выездом к заказчику (2 чел).  - осмотр сети, консультирование, установка, настройка, адаптация, обучение персонала.
            </td>
            <td align="right" class="rowWhite">
                от 200$ в день 
            </td>

        </tr>
        <tr>
            <td class="rowBlue">
                Установка системы удаленно - настройка ОС и системы, адаптация тарифных планов, консультирование.
            </td>
            <td align="right" class="rowBlue">
                от 100$ в день 
            </td>

        </tr>
 <tr><td colspan="3" class="rowWhite">&nbsp;</td></tr>
 	<tr>
            <td colspan="3" class="subHeading" id="listModul" title="Модули">
                Дополнительные модули для биллинга 
            </td>
        </tr>
<tr>
	<td class="rowWhite">Модуль "Платежные терминалы" - : модуль работы с платежной системой <a href="http://osmp.com.ua" target="_blank">ОСМП</a> и  <a href="http://24nonstop.com.ua" target="_blank">24nonstop</a>. Обеспечение украинских потребителей современным, надежным и удобным спектром технологических решений платежного сервиса.<br/>
<small style="color:red">автор:  Волик Станислав,  контакт: versus.ua@gmail.com.ua</small>
</td>
            <td align="right" class="rowWhite"> 150$
</td>
</tr>
<tr>
            <td class="rowBlue">Модуль динамического шейпа: скорость работы пользователя с сетью  понижается  плавно параллельно со скачиванием
трафика, согласно установленному коэфициенту.
<br/>
<small style="color:red">автор:  Волик Станислав,  контакт: versus.ua@gmail.com</small>
</td>
            <td align="right" class="rowBlue"> 30$
</td>
</tr>
<tr>
            <td class="rowWhite">Модуль "WebMoney" - модуль работы с платежной системой WebMoney. Полностью автоматизированное пополнение счета в пару кликов. У пользователя в статистике появляется новая кнопка "Оплата WebMoney" при нажатии на которую предлагается ввести сумму пополнения, после чего пользователь перенаправляется на сайт WebMoney для проведения платежа в 2 клика и возвращается назад на сервер статистики. Деньги МГНОВЕННО оказываются на счету. Комиссия за платеж что-то около 0.8% - дешевле придумать сложно. 
<br/>

<small style="color:red">автор:  Mаксим,  контакт: icq  339_879_465 email <img src="http://www.mailonpix.ru/images/e10da6c8223417a8f93f08ef1c3c961c.gif" /></small>
</td>
            <td align="right" class="rowWhite"> 50$
</td>
</tr>


<tr>
            <td class="rowBlue">Модуль генерации конфига для DHCP: модуль может генерировать любые конфиги под любые системы.
<br/>
<small style="color:red">автор:  Волик Станислав,  контакт: versus.ua@gmail.com</small>
</td>
            <td align="right" class="rowBlue"> 100$
</td>
</tr>
<tr>
            <td class="rowWhite">Модуль "временный кредит" - кредит клиенту, который он может заказать 1
раз в месяц на сумму, которую вы говорите (например не больше чем
двойная цена тарифа), кредит автоматом удалится через 2-3-4-5 дней,
когда скажете. Цель: клиенты 1-5 числа не просят
временно пополнить счет, а они занесут-заплатят через 2-3 дня.. - они
сами могут отсрочить немного платеж:
<br/>
<small  style="color:red">автор:  Максим aka Spriteq,  контакт: +380445924814, Юра</small>
</td>
            <td align="right" class="rowWhite"> 150$
</td>
</tr>
<tr>
            <td class="rowBlue">Модуль "турборежим" - активируется бесплатно для клиента из статистики
2-3-5-10 раз в месяц, дает клиенту:<br/>
1. или полную скорость <br/>
2. или 5мбит <br/>
3. или сокрость тарифа*2 (или 3), каждая последующая активация
стоит 1-2-5-10 грн.<br/> Все данные и активации видны в статистике:
<br/>
<small  style="color:red">автор:  Максим aka Spriteq,  контакт: +380445924814, Юра </small>
</td>
            <td align="right" class="rowBlue"> 150$
</td>
</tr>
<tr>
            <td class="rowWhite">Модуль "УкрПейс" - модуль работы с платежной системой ukrpays.com.
Комиссия минимальная в Украине, через них работает: емпайрнет,
Iplan.com.ua, intraffic.com.ua, sunnet.com.ua - у клиента в статистике
новая кнопка "Электронный платеж". При нажатии на нее он вводит
сумму, нажимает "Оплатить", дальше вводит номер кредитки Виза\Мастеркард или свой номер кошелька в WebMoney, и с него автоматически
снимаются деньги и МОМЕНТАЛЬНО падают на счет в биллинге. Вы получаете
деньги раз в месяц за вычетом 3 % за услуги укрпейс (это дешевле чем
карточки в киоске продавать). с Укрпейс надо будет заключить договор,
деньги они перечисляют на любую карту или расчетный счет. цена модуля:
<br/>
<small style="color:red">автор:  Максим aka Spriteq,  контакт: +380445924814, Юра</small>
</td>
            <td align="right" class="rowWhite">
150$
</td>
</tr>
<tr>
            <td class="rowBlue">Модуль динамического распределения между каналами (например 150
клиентов в 1 канал, 150 в второй), меняется галочкой в настройке
группы клиентов.. 
<br/>
<small  style="color:red">автор:  Максим aka Spriteq,  контакт: +380445924814, Юра</small>
</td>
            <td align="right" class="rowBlue"> от 200$
</td>
</tr>
<tr>
<td class="rowWhite">Модуль перенаправления клиента в случае, когда у него отрицательный
баланс и запрещен доступ в интернет на локальную веб страницу с
содержимым "Извините, у вас запрещен доступ в интернет, чтобы
активировать кредит зайдите в статистику по ссылке: ******, связатся с
администрацией:", аналогичные страници с уведомлениями, например о
новом тарифе для всех клиентов тарифа № 15 будет отображатся страница
с текстом и кнопкой "Ознакомлен, больше не показывать".. после нажатия
которой он сможет работать дальше. 
<br/>
<small style="color:red">автор:  Максим aka Spriteq,  контакт: +380445924814, Юра</small>
</td>
            <td align="right" class="rowWhite"> от 200$
</td>
</tr>
<tr>
            <td class="rowBlue">Доступ в систему обзвона клиентов из биллинга, например 30 числа
месяца обзвонить всех клиентов у которых денег не хватает на цену
тарифа и 1 числа их отключит. Cистема позвонит к клиенту на
домашний-мобильный, продиктует сообщение-приветствие и текущий
баланс (как при проверке счета у киевстара)... дальше клиент сможет
нажать *0 и звонок переадресуется на Оператора (какой-либо ЦДМА).. или
нажать *1 чтобы послушать варианты оплаты..
<br/>
<small style="color:red">автор:  Максим aka Spriteq,  контакт: +380445924814, Юра</small>

</td>
            <td align="right" class="rowBlue"> от 100$
в месяц + стоимость минут на переадресацию на ЦДМА .
</td>
</tr>
<tr>
            <td class="rowWhite">Система обзвона потенциальных клиентов: записанный зарание голосовой
ролик проигрывается всем квартирам, где есть или планируется покрытие сети,
клиент может нажать *0 чтобы связатся с оператором 
<br/>
<small style="color:red">автор:  Максим aka Spriteq,  контакт: +380445924814, Юра</small>

</td>
            <td align="right" class="rowWhite">от 100$,
зависит от количества линий
</td>
</tr>
<tr>
            <td class="rowBlue">IVR система (пример: 8044 2008000) - при звонке на ваш номер будет проигрыватся приветствие, акции, тарифы, прием факсов, дополнительная
информация, клиент может нажать *9 чтобы связатся с касиром, *8 - с
техником, *0 с менеджером. и т.д.  
<br/>
<small style="color:red">автор:  Максим aka Spriteq,  контакт: +380445924814, Юра</small>

</td>
<td align="right" class="rowBlue">от 100$ в месяц..       </td>
</tr>
<tr>
	<td class="rowWhite">Модуль перенаправления клиента. Перенаправляет неавторизованного клиента на страницу "Необходима авторизация", заблокированного пользователя на страницу "Заблокирован по финансовым причинам", всех остальных на "гостям здесь не рады". 
Перенаправляет пользователя, которому пришло сообщение на страницу ознакомления с сообщением и кнопкой "ознакомлен". Если сообщений несколько - показываются по очереди по нажатию на кнопку "Ознакомлен" 
		<br/>

<small style="color:red">автор:  Mаксим,  контакт: icq  339_879_465 email <img src="http://www.mailonpix.ru/images/e10da6c8223417a8f93f08ef1c3c961c.gif" /></small>

	</td>
	<td align="right" class="rowWhite">40$</td>
</tr>

 <tr><td colspan="3" class="rowBlue">&nbsp;</td></tr>
 	<tr>
            <td colspan="3" class="subHeading" id="credit" title="Рассрочка">
                Продажа в рассрочку 
            </td>
        </tr>
<tr>
            <td class="rowWhite">Месяцев рассрочки</td>
            <td align="right" class="rowWhite">  6 </td></tr>
<tr>
            <td class="rowBlue">Авансовый платеж</td>
            <td align="right" class="rowBlue"> 100$ </td>
</tr>
<tr><td colspan="3" class="rowWhite">&nbsp;</td></tr>
 	<tr>
            <td colspan="3" class="subHeading" id="listSupport" title="Модули">
                Поддержка 
            </td>
        </tr>
<tr>
            <td class="rowWhite">Подписка на  обновление программного кода системы</td>
            <td align="right" class="rowWhite">  Бесплатно
</td></tr>
<tr>
            <td class="rowBlue">Поддержка пользователей 40 часов в неделю (пн-пт, 10:00 - 18:00 по Киеву)  60 дней с момента продажи</td>
            <td align="right" class="rowBlue"> Бесплатно 
</td>
</tr>
<tr>
            <td class="rowWhite">Послепродажная поддержка пользователей </td>
            <td align="right" class="rowWhite">  20 $/мес
</td></tr>
<tr>
            <td class="rowBlue">Разработка новых и переработка существующих программных модулей системы</td>
            <td align="right" class="rowBlue"> Договорная по результату прочтения  ТЗ.
</td>
</tr>
</tr>
 </tr><tr><td colspan="3" class="rowWhite">&nbsp;</td></tr>
</table>
